<div class="container" *ngIf="viewmodel$ |async as viewmodel; else loading">
    <h2 style="text-align: center;">{{ viewmodel.chatroom.name}}</h2>
    <div class="row">
        <div class="col-md-4 overflow-auto resize">
            <app-chat-room-list></app-chat-room-list>
        </div>
        <div class="col-md-8 resize">
            <div class="overflow-auto container messageListResize">
                <!-- <app-message *ngFor="let content of viewmodel.messages; trackBy: getMessageId" [userMsg]="content"></app-message> -->
                <app-message *ngFor="let content of viewmodel.messages;" [userMsg]="content"></app-message>
            </div>
        </div>
        <app-message-input [chatroom]="viewmodel.chatroom"></app-message-input>
    </div>
</div>
<!--This part stand for add a loading animation if the viewmodel$ async as viewmodel don't work it's a basic angular animation-->
<ng-template #loading>
    <div>Loading...</div>
</ng-template>